

body {  background: linear-gradient(45deg, #f7ecd8, #b3b3b3);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  width: auto;
  margin: 0 auto;
  padding: 20px;
}


.header-section {
  background: url("../images/milan-6391160_1920.jpg") center/cover no-repeat;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #FFFFFF;
  text-align: center;
}

.header-section .overlay {
  position: absolute;
  top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.header-section h1 {
  font-family: 'Playfair Display SC', serif;
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 20px;
}

.header-section h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
}



.carousel-inner img {
  height: 400px;
  object-fit: cover;
}
.col-md-6 p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.card-image {
  width: 100%;
  height: 200px;       
  object-fit: cover;
  border-radius: 10px; 
}

img {
  max-height: 300px;
  object-fit: cover;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(21, 21, 21, 0.752);
}
  .bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 10px;
    color: #bfbfbf;
  }

header,
footer {
  padding: 1em;
  color: rgb(233, 233, 233);
  background-color: rgb(59, 2, 2); 
  clear: left;
}
